ul{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    border: 1px solid #0C0C0C;
}
li{
    font-size: 12px;
    width: 100%;
    color: #0C0C0C;
}
li span{
    font-size: 16px;
    color: #40AFFE;
}
